body{
	/*background-color: #f6f6f6;*/
	color: #003366 !important;
  background-color:#B2EBF2; 	
/*background-image: url('../img/fondo3.jpg');*/
/*background: no-repeat;*/
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    /*font-family: 'Cairo', sans-serif;*/
    /*font-family: 'Kanit', sans-serif;*/
    /*font-family: 'Satisfy', cursive;*/
    /*font-family: 'Handlee', cursive;*/
    /*font-family: 'Cantarell', sans-serif;*/
    /*font-family: 'Hammersmith One', sans-serif;*/
    /*font-family: 'Marck Script', cursive;*/


}
.fdiv{
	background-color: #fff;
}
h3{
	
	text-align: center;
}
.primerMenu{
	position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
h5{
	text-align: center;
}

h6{
	padding-left: 12%;
	padding-top: 25%;
}

img:hover{
	/*transform: scale(1);*/
	/*transition: all .2s ease-in-out;*/
	:not(#logo);
}


.div-inicio{
	margin-top: 7%;
}

.curp{
	text-transform: uppercase;
}

.img-menu{
	position: absolute;

    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
	text-align: center;
	width: 20%;
	padding-left: 12%;
}


.azul { background: #003366; }
.verde{ background: #669900; }
.celeste { background: #0099cc; }
.blanco { background: #f6f6f6; }